@import url("component/container.css");
@import url("component/avatar.css");
@import url("component/button.css");
@import url("component/banner.css");
@import url("component/card.css");
@import url("component/cards.css");


/* I just download the fonts as google fonts didn't propose any url for them */ 

body {
	font-family: 'amatic;', sans-serif;
	font-size: 18px;
	margin: 0px;
}
h1, h2, h3 {
	font-family: 'raleway', sans-serif;
}

a {
	text-decoration: none;
}

